.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(2, 84, 161);
    text-shadow: 1px 1px 0 rgba(3, 0, 66, 0.7), -1px -1px 0 rgba(3, 0, 66, 0.7), 1px -1px 0 rgba(3, 0, 66, 0.7), -1px 1px 0 rgba(3, 0, 66, 0.7);
    /* Background color */
    color: #e4e4e4;
    /* Text color */
}
.navbar-name {
    color: #e4e4e4;
    /* Set the text color */
    text-decoration: none;
    /* Remove underline */
    font-family: "Rouge Script", cursive;
    font-size: 50px;
    font-weight: 550;
    /* Set a suitable font size */
}

.navbar-name:hover {
    transform: scale(1.05);

}

.menu-container {
    display: flex;
    /* Align Booking link and Hamburger icon side by side */
    align-items: center;
    font-size: 20px;
    /* Center vertically */
}

.menu-container:hover {
    transform: scale(1.05);
}

.hamburger {
    display: block;
    /* Show hamburger icon on all screen sizes */
    font-size: 30px;
    cursor: pointer;
}

.nav-list {
    display: none;
    /* Hide the nav list by default */
    list-style: none;
    font-size: 20px;
}


.nav-list li {
    margin: 10px 0;
    /* Margin for items in the hamburger menu */
}

.nav-list li:hover {
    transform: scale(1.05);
}

.nav-list a {
    color: #e4e4e4;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
}

.nav-list.open {
    display: flex;
    /* Show the nav list when open */
    flex-direction: column;
    /* Stack items vertically */
    position: absolute;
    /* Position absolutely */
    top: 79px;
    /* Adjust based on navbar height */
    left: 80%;
    background-color: rgb(2, 84, 161);
    /* Same background color as navbar */
    width: 20%;
    /* Full width */
    z-index: 10;
    /* Ensure it sits above other elements */
    text-align: center;
}

/* Hide nav list on larger screens */
@media (min-width: 769px) {
    .nav-list {
        display: none;
        /* Keep it hidden on desktop size */
    }
}